body           /*chaque partie régit les attributs d'une portion du code HTML, par exemple le body (corps de la page) ici*/
{
    width: 100%;
        margin: 0px 0px 0px 0px;   /*initialisation des marges intérieures à 0*/
        padding: 0px 0px 0px 0px;      /*initialisation des marges extérieures à 0*/
        font-family: DIN Alternate;    /*police d'écriture*/
    background-color: 	#352b2b ;     /*couleur de fond*/
}
h1 /*Modifiacation des titres h1*/
{
        width: 100%;           /*portion relative (en %) de l'écran utilisée par cette partie*/
        height: 50px;          /*hauteur absolue (en pixels) de la partie*/
        text-align: center;   /*alignement du texte*/
        color: #FFFFFF;        /*couleur du texte*/
        background-color: 	#2c2929 ;    /*couleur de fond de la partie*/
        padding: 35px 0px 25px 0px ;        /*définition des marges extérieures*/
        margin: 0px 0px 0px 0px;  /*initialisation des marges à 0*/
}
h1 a
{
        display: inline-block;  /*type d'affichage*/
        text-decoration: none;
        color: #FFFFFF;
}
/*-----Début de modification de la navigation -----*/
nav 
{
        width: 100%;
        background-color:  #484848 ;
}
nav > ul
{
    width: 120%;
        margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
nav > ul::after
{
    width:100%;
        content: "";
        display: block;
        clear: both;
}
nav > ul > li
{
    width: 16.66%;
    height: 100%;
        float: left;
        position: relative;
}
nav > ul > li > a
{
    text-align: center;
    width: 100%;
        padding: 20px 0px 20px 0px ;
        color: #FFFFFF;
}
nav > ul> li:hover a    /*le hover concerne attributs lorsque la souris survole la partie (sans cliquer)*/
{
    width: 100%;
        padding: 20px 0px 15px 0px ;
}
nav li
{
        list-style-type: none;
}
.sous-menu          /*attributs du type sous-menu*/
{
    width: 100%;
        display: none;
}
nav a
{
        display: inline-block;
        text-decoration: none;
    padding: 20px;
        color: #FFFFFF;
}
nav li:hover .sous-menu
{
        display: inline-block;
        position: absolute;
        top: 70%;
        left : -40px;
    margin: 20px 0px 20px 0px;
}
.sous-menu li
{
    
        border: 1px solid #f50f0f;
        background-color: #484848;
    padding: 0px;
    margin: 0px;
}
.sous-menu li a   
{
    text-align: center;
    width: 100%;
        color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}
.sous-menu li:hover a 
{
        color: #000000;
        font-weight: bold;
}
.menu-accueil:hover 
{
        border-bottom: 5px solid #f50f0f; 
        background-color: #f50f0f;
}
.menu-porte-feuille:hover
{
        border-bottom: 5px solid #f50f0f;
        background-color: #f50f0f;
}
.menu-porte-feuille .sous-menu li:hover
{
        background-color: #f50f0f;
}
.menu-porte-feuille .sous-menu li:hover
{
        background-color: #f50f0f;
}
.menu-trade .sous-menu li:hover
{
        background-color: #f50f0f;
}
body {
        font-family:"trebuchet ms",sans-serif;
        font-size:90%;
        float: right;
        position: right;
    }
    form {
        background-color:#635d5c   ;
        padding:10px;
        width : 317px; 

        float: right;
        position: right;
}
fieldset {
        color:#635d5c;
        padding: 0px 0px 0px 0px;
        margin-bottom:10px;
        border:1px solid ;
    }
    legend {
        color:#FFFFFF;
        font-weight:bold
    }
    label {
        color:#FFFFFF;
        margin-top:90px;
        display:block;
    }
    label.inline {
        display:inline;
        margin-right:100px;
}
input, textarea, select, option {
        background-color:#FFFFFF;
        }
        input, textarea, select {
                padding:10px;
                border:2px solid #f1eded ;
                border-radius:4px;
                width:290px;
                box-shadow:1px 1px 2px  inset;
    }
    select {
        margin-top:10px;
        }
        input[type=radio] {
                background-color:transparent;
                border:none;
                width:100px;
    }
    input[type=submit], input[type=reset] {
        width:100px;
        margin-left:80px;
        box-shadow:1px 1px 1px #e0dbdb;
        cursor:pointer;
    }

.menu-inscription:hover
{
        border-bottom: 5px solid #f50f0f;
        background-color: #f50f0f;
}
.menu-connexion:hover
{
        border-bottom: 5px solid #f50f0f;
        background-color: #f50f0f;
}

.ancre
{
        text-decoration: underline;
        color: #aeaeae;
        line-height: 2em;
}  
      